.DS_Store
/.ropeproject/
/notebooks/.ipynb_checkpoints/
/__pycache__/
/models/__pycache__/
/checkpoints/
/log/
/.idea/
/preprocessed_data/
/boost_round_outputs/
/grid_search_outputs/
/results/
/data/
/other/
/train/
/test/
/numerai-1/
/jimfleming/
/54wy/
/logs/

*.jpg
*.p
*.html
*.txt
*.tsv
